@{
    ViewData["Title"] = "Home Page";
}
	<div>
		<a id="scroll-down" href="#section2" class="scroll-down">Scroll Down<div class="scroll-down-arrow"><i class="fas fa-chevron-down"></i></div></a>

		<div class="justify-content-center container" style="max-width:fit-content!important;">
			<div class="home-text-lg">Get Shit Done.</div>
			<div class="home-text-sm">
				Organize your personal or team projects in an intuitive way.
			</div>
			<div id="start-btn" class="btn btn-outline-light home-start-btn" onclick=getStarted()>Get Started <i class="fas fa-arrow-right" style="padding: 0.5vh; float: right;"></i></div>
		</div>
		<div id="section2"  class="bg-light shadow-lg" style="height:55rem; margin-top:40vh" data-aos="fade-up">
			<div class="row">
				<div class="column">
			<div  class=" text-center section-title">Why use okanban?</div>
			<div  class=" text-center section-text">okanban is free! Get shit done</div>
				</div>
				<div class="column section-title text-center">
					picture here?
				</div>
				
			</div>
		</div>
		<div style="height:55rem; background:#1a2133;">
			<div class="text-center section-title" style="color:#fff">Work by yourself or with a team</div>

		</div>
		<div  class="bg-light" style="height:55rem;">
			<div class="text-center section-title">Contact</div>

		</div>
	</div>
<style>
	.column {
		float: left;
		width: 50%;
		padding: 10px;
	}
	.row {
	margin-left:0;
	margin-right:0;
	}
	.scroll-down {
		bottom: 3vh;
		position: fixed;
		font-size: 2.4vh;
		display: block;
		text-align: center;
		width: 100%;
		cursor: pointer;
		animation-name: fadeintext;
		animation-duration: 1.5s;
		color:#fff;
		
	}
		.scroll-down:hover {
		text-decoration:none;
		color:#fff;
		}
	.scroll-down-arrow {
	animation-name:scrolldown;
	animation-duration:1s;
	animation-iteration-count:infinite;
	}

	.btn-light {
		transition:box-shadow, 0.2s;
	}
		.btn-light:hover {
			color: #335dff;
			background:#ffffff;
			box-shadow: 0 15px  15px #00000020;
		}
	.btn-outline-light {
	border-width:2px;
	}
	.btn-outline-light:hover {
		transition: box-shadow, 0.2s;
		color: #335dff;
		box-shadow: 0 15px 15px #00000020;
	}

	.home-text-lg {
		color: #fff;
		font-weight: 600;
		font-size: 9vh;
		text-align: center;
		margin-top: 30vh;
		animation-name: fadeintext;
		animation-duration: 1s;
		
	}
	.home-text-sm {
		color: #fff;
		font-weight: 400;
		font-size: 2.3vh;
		text-align: center;
		margin-top: 1vh;
		animation-name: fadeintext;
		animation-duration: 1.5s;
	}

	.home-start-btn {
		display: block;
		margin-left: 10vw;
		margin-top: 7vh;
		margin-right: 10vw;
		height: 6vh;
		padding-top: 1vh;
		font-size: 2.4vh;
		min-width: 20vw;
		border-radius: 3vh;
		padding-left: 30px;
		animation-name: fadeintext;
		animation-duration: 2s;
	}
		.home-start-btn:hover {
		color:#1a2133!important;
		}
		.body-dark {
			background: #1a2133!important;
		}
	#body {
		transition-duration: 1s;
	}
	#top-nav {
		transition-duration: 1s;
	}
	.section-title {
		padding-top:25vh;
		padding-bottom: 3vh;
		color: #000;
		font-weight: 700;
		font-size: 4vh;
	}
	.section-text {
		color: #000;
		font-size: 2.3vh;
	}
	

</style>
<script>
	var startbtn = document.getElementById('start-btn')

	startbtn.addEventListener('mouseenter', e => {
		document.getElementById('body').classList.add('body-dark');
		document.getElementById('top-nav').classList.add('body-dark');
	});

	startbtn.addEventListener('mouseleave', e => {
		document.getElementById('body').classList.remove('body-dark');
		document.getElementById('top-nav').classList.remove('body-dark');

	});
	function CheckScroll() {
		

		if (window.scrollY > 115) {
			document.getElementById('top-nav').classList.add('shadow');
			document.getElementById('scroll-down').style.display = 'none';
		} else {
			document.getElementById('scroll-down').style.display = 'block';
			document.getElementById('top-nav').classList.remove('shadow');
		}

	}

	function getStarted() {
		window.location = '/kanvas/auth/register';
	}

</script>
