@model ProjectOrganizer.Models.ViewModels.UserViewModel
@{
	ViewData["Title"] = "Account";
	Layout = "DashboardLayout";
}


<div class="container row p-0 m-0 align-content-center">


	<div class="col-11">
		<h4 class="text-dark" style="font-family:'Proxima Nova'; padding-top:3rem">Edit my profile</h4>
	</div>
</div>