@{
	Layout = "_Layout";
}


<div class="container row p-0 m-0 align-content-center text-dark" style="margin:auto!important; margin-top:35vh!important">

	<h2 style="margin:auto!important">Sorry! This project is private or does not exist!</h2>
</div>